<form>
    <div class="form-group">
      <label for="exampleInputEmail1"  >Nome</label>
      <input 
      type="text"
       class="form-control" 
       id="exampleInputEmail1"
        aria-describedby="emailHelp"
         placeholder="Digite seu nome"
         [(ngModel)] = "nome"
          name="input_nome">
         
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" >Publicação</label>
      <input 
      type="text" class="form-control"
      id="exampleInputPassword1"
       placeholder="Digite sua Publicação"
       [(ngModel)] = "publicacao"
    name="input_publicacao">
    </div>
    <button type="submit" class="btn btn-primary" (click)="adicionarPost($event)" >Adicionar</button>
    <button type="submit" class="btn btn-primary" (click)="editarPost($event)" >Editar</button>
  </form>